* , *:after, *:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#main-header {
  background-color: teal;
  margin-bottom: 50px;
}

#container {
  display: grid;
  width: 500px;
  height: 500px;
  border: solid 2px black;
}

.grid-lines {
  border: solid 1px #DDDDDD;
}

.control-btn {
  display: inline-block;
  width: 100px;
  line-height: 35px;
  background-color: blue;
}