@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
  font-family: 'Patua One', cursive;
}

* , *:after, *:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#main-header {
  background-color: teal;
  margin-bottom: 50px;
}

#container {
  display: grid;
  margin-top: 25px;
  width: 500px;
  height: 500px;
  border: solid 2px black;
}

.grid-lines {
  border: solid 1px #DDDDDD;
}


.control-btn {
  display: inline-block;
  text-align: center;
  padding: 5px;
  border: solid 1px black;
  color: white;
  line-height: 32px;
  background-color: rgba(109, 109, 221, 0.76);
}

.control-btn:hover {
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
}