@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
  font-family: 'Patua One', cursive;
}

* , *:after, *:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #FFD1BA;
}

#popup-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hide-display {
  display: none;
}

#popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000069;
}

#popup-controls {
  display: flex;
  width: 600px;
  margin: 20px 0px;
}

#hide-btn {
  margin-left: auto;
}

#import-export {
  min-width: 600px;
  min-height: 300px;
}

#main-header {
  background-color: #493657;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  box-shadow: 1px 1px 4px black;
}

#main-header h3 {
  font-size: 34px;
  color: white;
  text-shadow: 1px 1px 10px black;
}

#container {
  display: grid;
  margin-top: 25px;
  width: 500px;
  height: 500px;
  border: solid 2px black;
}

.grid-lines {
  border: solid 1px #DDDDDD;
}

.control-btn {
  display: inline-block;
  text-align: center;
  padding: 5px;
  border: solid 1px black;
  color: black;
  line-height: 32px;
  background-color: #BEE5BF;
  transition: background-color 0.4s ease-out;
}

.control-btn:hover {
  box-shadow: 1px 1px 3px black;
  background-color: #DFF3E3;
  cursor: pointer;
}

#control-information {
  padding: 5px;
  line-height: 18px;
  height: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.control-btn:hover ~ #control-information{
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

#reset-btn:hover ~ #control-information:after {
  content: 'Resets grid to preferred dimension';
}

#pencil-btn:hover ~ #control-information:after {
  content: 'Uses black color to draw';
}

#rainbow-btn:hover ~ #control-information:after {
  content: 'Uses the RAINBOW to complete your imagination';
}

#eraser-btn:hover ~ #control-information:after {
  content: 'Erases. No explanation needed';
}

#precision-btn:hover ~ #control-information:after {
  content: 'Draw to your heart\'s content, just press and hold to draw instead, it\'s that easy';
}

#border-toggle:hover ~ #control-information:after {
  content: 'Want to play some tic-tac-toe instead?';
}

#shader-btn:hover ~ #control-information:after {
  content: 'Keeps getting darker and darker until you can no longer see';
}

#extra-btn:hover ~ #control-information:after {
  content: 'Extra controls to share your sketch!';
}

.active {
  background-color: #CE7DA5;
  transition: background-color 0.4s ease-out;
}

.active:hover {
  background-color: rgb(252, 149, 200);
}

#main-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-box {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: black;
  transition: transform 0.4s ease-out;
}

#footer-box:hover {
  transform: scale(1.5);
}